:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --top-line-bg:#ffffff;
    --footer-bg-color:#2F303A;
    --body-bg-color:#E5E5E5;
    --filter-bg-color:#F5F4FA;
    --address-text-color:rgba(255, 255, 255, 0.6);
  }
          /* Цвет основного текста #212121*/
          /* Вторичный цвет текста #757575*/
          /* Активная ссылка #2196F3*/
          /* top line bg #FFFFFF*/
          /* Section bg #F5F4FA*/
          /* Footer bg #2F303A*/
          /* г. Киев, пр-т Леси Украинки, 26 #FFFFFF*/
  html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  body {
    background-color: var(--body-bg-color);
    color:var(--primary-text-color);
    font-family:Roboto, sans-serif;
    letter-spacing: 0.03em;
    margin: 0;
  
  } 
  header {
    border: 1px solid transparent;
    border-bottom-color: #ECECEC;

  }
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
  }
   
  /* Верхняя линия */
  /* Logo */
  .line {
    background-color: var(--top-line-bg);
  }
.cap{
  padding-top: 200px;
  padding-bottom: 200px;
}
.exception{
  padding-top: 94px;
  padding-bottom: 94px;
}
.cooperate {
  padding-top: 0px;
  padding-bottom: 94px;
}
.personnel
{ padding-top: 94px;
  padding-bottom: 94px;
}
.cellar { 
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo {
  color:var(--accent-color);
  font-family:Raleway,sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo:hover,.logo:focus  {
  color:var(--primary-text-color);
}
.color-logo-header {
  color:var(--primary-text-color);
}
.color-logo-footer {
  color:var(--top-line-bg);
}
.logo-footer {
margin-bottom: 20px;
}


  /* Navigation */
  .page-nav {
  display: flex;
  align-items: center;

  }
  .site-nav{
  display: flex;
  margin-left: 93px;

  }
  .site-nav .link{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color:var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  }
  .site-nav .link:hover,
  .site-nav .link:focus {
  color:var(--accent-color);
  }
  .site-nav .link.current {
  color: var(--accent-color);
  } 
  .site-nav .nav-item + .nav-item {
  margin-left: 50px;
  }
  /* .nav-item:last-child{
  margin-right: 0;
  } */

   
  /* contacts selection */
      .contacts {
      display: flex;
      margin-left: auto;
    }
    .reference {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px; 

    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    }
    /* .contacts-item:not(:last-child) { */
      .contacts .contacts-item + .contacts-item {
        margin-left: 50px;
      }
    
    .page {
    color: var(--address-text-color) ;  
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
    
  .reference:hover,
  .reference:focus,
  .page:hover,.page:focus,
  .link-address:hover,
  .link-address:focus {
    color: var(--accent-color);
  }
 
   
    /* Шапка  */
   /* Services */
   .section-services {
     background-color: var(--footer-bg-color);
     color: var(--top-line-bg);
     text-align: center;
   }
   .services-decision{
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--primery-whitte-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
  }
  
 /* Особености */
 .section-exception{
   background:var(--top-line-bg);
 }
  .feature {
    display: flex;
    flex-wrap: wrap;
 
  }
  .feature .list-item {
    width: 270px;
    margin-right: 30px;
  }
  .list-item:last-child {
    margin-right: 0;
  }
  .section-title {
    color:var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .section-title-list {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 0;    
  }
   /* Чем мы занимаемся */
  .section-cooperate {
    background-color: var(--top-line-bg);
  }
  .team {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px ;

  }
  .feature .team-list {
    width: 370px;
    margin-right: 30px;
  }
  .team-list:last-child {
    margin-right: 0; 
  }
  /*  Наша команда */
  .feature-team {
    background-color: var(--filter-bg-color);
  }
   .name-list-icon {
    background:#FFFFFF; 
    width: 270 px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

   }
  .name-list {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: auto;
    padding-right: auto;
  }
  .name-list-icon:not(:nth-child(4n)) { 
   margin-right: 30px;
  }
  .name-list-icon:nth-last-child(-n+4){
    margin-bottom: 0;
  }
   /* .name-list:last-child { */
     /* margin-right: 0; */
   
   /* .feature .name-list-icon{ */
     /* margin-bottom: 30px; */
    
 
  .name {
    color: var(--primary-text-color); 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
   .occupation {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
   }
  /* Footer */
  .page-footer {
    background-color:var(--footer-bg-color) ;
  }
  .link-address {
    color:var(--top-line-bg);
  }
  .contacts-box {
   width: 231px;
  }
  .note-page {
    margin-bottom: 9px;
  }
  .note-page:last-child {
    margin-bottom: 0;
  }

  /* Buttons */          
  .button {
    color:var(--primary-text-color);
    background-color:var(--body-bg-color);
    cursor: pointer;
    border: 1px solid transparent;
  }
  .button.primary {
    background-color: var(--accent-color);
    color: var(--top-line-bg);
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 9px 31px;
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  } 
  .button.primary:hover,
  .button.primary:focus {
    color: var(--primary-text-color);
    background-color: var(--filter-bg-color);
  }
  .button.secondary {
    color:var(--primary-text-color);
    background-color:var(--filter-bg-color);
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    min-width: 73px;
    padding: 5px 21px; 
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
  .button.secondary:hover,
  .button.secondary:focus {
      color:var(--top-line-bg);
      background-color: var(--accent-color);
  }
   /* Портфолио */
    .section-examples {
      background-color: var(--top-line-bg);
      padding-top: 94px;
      padding-bottom: 94px;
    }
   .filters-bt {
     display: flex;
     align-items: center;
     justify-content: center;
   }
    .filters-section{
      padding-top: 0;
      margin-top: 0;
      margin-bottom: 50px;
    }
    .filters-bt .bt-item + .bt-item {
      margin-left: 8px;
    }

    /* Examples */
  .example-name{
  color:var(--primary-text-color) ;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  }
  .direction {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  }
  .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);

}
.examples-blok {
  display: flex;
  flex-wrap: wrap;
}
.box-examples {
  width: 370px;
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE; 
  box-sizing: border-box;

}
.box-examples:not(:nth-child(3n)) { 
   margin-right: 30px; 
}
.box-examples:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.box-text {
  padding-left: 24px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
  }  


